.divImage {
  height: 50px;
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.click {
  transition: background-color 500ms ease-out 100ms
}
.click:hover {
  cursor: pointer;
  background: #cce8ff;
}
.mb25 {
  margin-bottom: 25px;
}